.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #30475e;
  --bs-btn-border-color: #30475e;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #0a1a2a;
  --bs-btn-hover-border-color: #26394b;
  --bs-btn-focus-shadow-rgb: 79, 99, 118;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #26394b;
  --bs-btn-active-border-color: #243547;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(34, 40, 49, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #30475e;
  --bs-btn-disabled-border-color: #30475e;
}
